body {
	background-color: #232323;
	margin: 0;
	font-family: "Montserrat", "Avenir";
	
}

.square {
	width: 30%;
	/*background-color: steelblue;*/
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
	border-radius:15%;
	transition: background-color, .5s;
	-webkit-transition: background-color: all 0.5s;
	-moz-transition: background-color: all 0.5s;
}

#container {
	max-width: 600px;
	margin: 20px auto;
}

h1 {
	color: white;
	text-align: center;
	line-height:1.1;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
	padding: 20px 0;
}

#colorDisplay {
	text-transform: uppercase;
}

#bar {
	background-color: white;
	height: 30px;
	text-align: center;
	color: black;
}

.selected {
	background-color: steelblue;
	color: white;
}

#colorDisplay {
	font-size: 200%;

}

button {
	border: none;
	background-color: none;
	text-transform: uppercase;
	font-family: "Montserrat", "Avenir";
	height: 100%;
	font-weight: 700;
	color: steelblue ;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all .3s;
	outline: none;
}

#message {
	display: inline-block;
	width: 20%;
}

button:hover {
	color: white;
	background-color: steelblue;
}

#message {
	color: steelblue;
	letter-spacing: 1px;
	transition: all .3s;
	font-size: inherit;
	font-weight: 700;
	font-family: "Montserrat", "Avenir";
	text-transform: uppercase;
}

